* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
h1 {
    font-size: 2rem;
    font-weight: 100;
}
header {
    padding: 10px;
}
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "⭐";
}
#hero-msg {
    margin-top: -550px;
    font-size: 3em;
    padding: 1%;
    width: 100%;
}
#hero-msg h4{
    color: #90E0EF;
    text-shadow: 5px 5px 10px black;
}
#hero-msg h1{
    color: rgba(0, 0, 0, .8);
    text-shadow: 2px 2px 5px #90E0EF;
}
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #22577A;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.navigation a:hover {
    background-color: #C7F9CC;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.active::before {
    content: "📍";  /* just a wayfinding symbol for the user */
}
/* Slideshow container */
.slideshow-container {
    display: grid;
    grid-column: 1/4;
    max-width: 100%;
    height: 600px;
    position: relative;
    margin: auto;
    z-index: -1;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    
  }
  .hero2 {
      max-height: 700px;
      width: auto;
      height: auto;
      object-fit: contain;
  }
  .hero3 {
      max-height: 700px;
      width: auto;
      height: auto;
      object-fit: contain;
  }
  .hero4 {
      max-height: 700px;
      width: auto;
      height: auto;
      object-fit: contain;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #57CC99;
    text-shadow: 0 0 10px #38A3A5;
    font-size: 60px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 10px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: black;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
  }
  /* -------------------------------------
  End SlideShow
  ---------------------------------------- */
#join {
    display: grid;
    grid-column: 1/4;
}
.join{
    grid-column: 1/2;
}
.join-box {
    grid-column: 2/3;
}
.join-alt {
    grid-column: 3/4;
}

.card {
    margin: 1rem 2rem;
}
.card section{
    border: 1px solid #22577A;
    background-color: #C7F9CC;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}
.card h2 {
    background-color: #22577A;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;
}
.card p {
    padding: 10px;
}
.card li{
    padding: 10px;
}
.card2 {
    margin: 1rem 2rem;
}
.card2 section{
    border: 1px solid #22577A;
    background-color: #C7F9CC;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}
.card2 h2 {
    background-color: #22577A;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;
}
.card2 p {
    padding: 10px;
}
.card2 li{
    padding: 10px;
}
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    grid-column: 1 / 3;
}
footer img {
    vertical-align: middle;
}