@media screen and (min-width: 600px) {

    #menu {
        display: none; /*hide hamburger button */
    }
    
    nav ul {
        display: flex;
    }
    nav ul li{
        flex: 1 1 100%;
    }
    .navigation {
        flex-direction: row;
    }
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    main {
        grid-template-columns: 2fr 1fr;
    }
    .text {
        font-size: 2rem;
    }
    .card {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }
    .card section {
        box-shadow: 1px 1px 10px #000;
        /* grid-template-columns: 2fr 1fr; */
    }
    .card2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }
    .card2 section {
        box-shadow: 1px 1px 10px #000;
        /* grid-template-columns: 2fr 1fr; */
    }
    .card.dark section {
        box-shadow: 1px 1px 5px #eee;
    }
    .sidebars {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
    .sidebars section {
        box-shadow: 1px 1px 10px #000;
        /* grid-template-columns: 2fr 1fr; */
    }
    
    /* .responsive-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    } */
    .feed img:hover {
        border-radius: 15px 150px;
    }

}
@media screen and (min-width: 1000px) {
    .sidebars {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 10px;
    }
    .feed-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* column-gap: 10px; */
    }
    
}